<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- 既存のファイル読み込み -->
  <%= javascript_include_tag 'application' %>
  <!-- 作成したファイルを読み込む -->
  <%= javascript_include_tag 'product' %>
</head>

<p>jQuery稼働テスト(未稼働)</p>

<script>
  var productShipments = <%= @product_shipments.to_json.html_safe %>
  window.productID = <%= @product.id %>;
</script>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Unavailable Delivery IDs</th>
    </tr>
  </thead>

<%= form_tag("/products/#{@product.id}", method: :put) %>
  <div id="product-shipments" data-product-shipments="<%= @product_shipments.to_json.html_safe %>">
    <!-- Product shipments content -->
    <% @product_shipments.each do |key, value| %>
      <tr>
        <td><%= value["id"] %></td>
        <td><%= value["name"] %></td>
        <td>
          <% delivery_methods = {} %>
          <% @deliveries.each do |delivery| %>
            <% delivery_methods[delivery['id']] = delivery['name'] %>
          <% end %>
          <% delivery_methods.each do |id, name| %>
            <% if value["unavailable_delivery_ids"].include?(id) %>
              <%= check_box_tag "product_shipment[product_shipment_details][#{value['id']}][unavailable_delivery_ids][]", id, true %>
            <% else %>
              <%= check_box_tag "product_shipment[product_shipment_details][#{value['id']}][unavailable_delivery_ids][]", id, false %>
            <% end %>
            <%= name %>
            <br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </div>
<% end %>