<head>
<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
</head>

<h1>Inventory Management</h1>
<br>
<br>
<div class="inventory">
<table id: inventory_table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>在庫管理状態</th>
      <th>在庫数</th>
      <th>オプション設定有無</th>
      <th>リンク</th>
    </tr>
  </thead>
  <tbody>
    <% @products_stocks.each do |key, value| %>
      <tr>
        <td><%= value["id"] %></td>
        <td><%= value["name"] %></td>
        <td><%= value["stock_managed"] ? "在庫管理する" : "在庫管理しない" %></td>
        <% if value["stock_managed"] && !value["variants"].present? %>
          <%= form_tag url_for(controller: 'products', action: 'update_stocks'), method: :put do %>
            <td><%= text_field_tag "product[stocks][#{value['id']}]", value["stocks"], class: "stock-input" %>
            <br>
            <%= submit_tag "update" %></td>
          <% end %>
        <% elsif value["stock_managed"] %>
          <td><%= value["stocks"] %></td>
        <% else %>
          <td>---</td>
        <% end %>
        <td>
          <% if value.key?("variants") && value["variants"].present? %>
            <% value["variants"].each do |variant| %>
              <%= variant["title"] %>: <%= variant["stocks"] %><br>
            <% end %>
          <% else %>
            オプション設定なし
          <% end %>
        </td>
        <td><%= link_to '商品編集', "https://admin.shop-pro.jp/?mode=product_edt&type=UPD&product_id=#{value['id']}", target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
