<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= render 'layouts/rails_default' %>
    <%= javascript_importmap_tags %>
     <%# CSRF保護を利用するために記述 %>
    <%= csrf_meta_tags %>
    <!-- Font Awesome kitset -->
    <script src="https://kit.fontawesome.com/ded0e350fa.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
       <% end %>
       <%= yield %>
       <%= render 'layouts/footer' %>
       <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html> 